html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.page{
    display: flex;
    margin: 20px;
}

.page-nav {
    color: #565959;
}

.page-image {
    width: 400px;
    height: 480px;
    margin-right: 25px;
    box-shadow: 0px 2px 5px lightgray;
}

.page-title {
    font-weight: lighter;
    margin-bottom: 0;
}

.page-author {
    margin-top: 15px;
}

.page-author a {
    color: #007185;
}

.page-rating {
    width: 120px;
}

.page-sub-title {
    font-size: 16px;
}

.page-detail {
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
}